<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('La Casa de Electricidad | Gestión de Fábricas')}"></head>

<body>

    <header th:replace="~{layout/navbar :: navbar('')}"></header>

    <main>    
        <div
            th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert" >
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:" >
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" ></path>
            </svg>
    
            <strong>¡Error!</strong> <span th:text="${error}"></span>
    
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        <section class="form-container">
            <h2>Registro de artículos</h2>
    
            <form class="text-start" th:action="@{/articulo/registrar}" method="POST" th:object="${articulo}">
                <label for="nombre">Nombre:</label>
                <input type="text" th:field="*{nombre}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                
                <label for="descripcion">Descripción:</label>
                <input type="text" th:field="*{descripcion}">
                <small class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>

                <label for="fabrica">Fábrica:</label>
                <select th:field="*{fabrica}" class="form-select">

                    <option value="">Seleccionar Fábrica</option>
                    <option th:each="fabrica: ${fabricas}" th:value="${fabrica.id}" th:text="${fabrica.nombre}"></option>
                    
                </select>
                <small class="text-danger" th:if="${#fields.hasErrors('fabrica')}" th:errors="*{fabrica}"></small>

                <button type="submit" class="btn btn-primary mt-5">Guardar</button>
            </form>
        </section>
    </main>

    <footer th:replace="~{layout/footer :: footer}"></footer>

</body>
</html>